<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Crypto Monitor</title>
  </head>
  <body>
    <h1>Crypto Monitor</h1>

    <label>
      Coin ID:
      <input id="coinId" value="bitcoin" />
    </label>
    <button id="loadButton">Load price</button>

    <pre id="out"></pre>

    <script>
      async function loadPrice(){
        const coinId = document.getElementById("coinId").value.trim();
        const res = await fetch(`/api/${encodeURIComponent(coinId)}/price`);
        const data = await res.json();
        const price = await data.price
        document.getElementById("out").textContent = JSON.stringify(price, null, 2);
      }

      document.getElementById("loadButton").addEventListener("click", loadPrice);
      loadPrice();
    </script>

  </body>
</html>
